<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <i class="fa fa-leaf" aria-hidden="true"></i> Oraganic Shop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shopping-cart']" routerLinkActive="active">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badge-warning badge-pill">
              {{cartItemCount$ | async}}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="userData.isLoggedIn" routerLinkActive="active" [routerLink]='["/wishlist"]' >
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span class="badge badge-warning badge-pill">
              {{wishListCount$ | async}}
            </span> 
          </a>
        </li>
      </ul>
    </div>   

  
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!userData.isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
  
        <li ngbDropdown *ngIf="userData.isLoggedIn" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            {{userData.username}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <ng-container  *ngIf="userData.userTypeId==userType.admin" >          
              <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>
            <a class="dropdown-item" (click)=logout()>Log Out</a>
          </div>
        </li>
      </ul>
 

  </div>
  
</nav>



